{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if cur_usr.is_authenticated  %}
    <strong>Alredy registered please <a href = "{% url 'messaging: logout' %}">Logout</a> before sign in </strong>

{% else %}
<form method="post" action ="/whatsapp/register/newusr/">
{% csrf_token %}
<table>
<tr>
    <td>Username</td>
    <td><input id="username" type="text" name="username" value={{reusername}}></td>
</tr>
<tr>
    <td>Password</td>
    <td><input id="password" type="password" name="password"></td>
</tr>
<tr>
    <td>ReEnter Password</td>
    <td><input id="repassword" type="password" name="repassword"></td>
</tr>
</table>
<input type="submit" value="register" />
</form>

{{ error }}

{% endif %}
{% endblock %}